* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.navbarr {
  min-height: 10vh;
  background: rgb(227, 245, 245);
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(94, 62, 4);
  font-weight: 700;
}

.navlinkk {
  text-decoration: none;
  color: rgb(94, 62, 4);
  font-weight: 700;
}

.active {
  color: rgb(32, 30, 30);
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;
}

footer {
  bottom: auto;
  position: absolute;
  width: 100vw;
  height: 50px;
  background-color: rgb(227, 245, 245);
}

.home-page {
  background-color: rgb(45, 30, 30);
}

.five {
  text-align: start;
}

.img-shabdancy {
  width: 100vw;
  height: 600px;
}

.image-list {
  display: flex;
  justify-content: center;
}
